.site__overview {
    padding: 0 1rem $akk-unit * .5;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    z-index: 9;

    .breadcrumb-item.active {
        color: rgba($black, .5);
    }

    .breadcrumb-item + .breadcrumb-item::before {
        color: rgba($black, .5);
    }

    .nav {
        .nav-item {
            display: block;
        }

        .nav-link {
            padding-left: $akk-unit;

            .pointer {
                display: inline-block;
                width: $akk-unit;
                margin-left: 0 - $akk-unit;
            }
        }
    }

    &.overview-article {
        margin-top: 38vh;
    }

    @include media-breakpoint-up(lg) {
        margin-top: auto;
        padding: 0 1rem $akk-unit;

        //&.overview-article {
        //    padding-bottom: 0;
        //    margin-top: auto !important;
        //    margin-bottom: 0 !important;
        //    //height: calc(100vh - #{$akk-unit * 3});
        //    overflow: hidden;
        //    display: flex;
        //    flex-direction: column;
        //
        //    .article__media {
        //        position: absolute;
        //        top: 0;
        //        left: 0;
        //        right: 0;
        //        z-index: 0;
        //        //overflow: hidden;
        //        //height: 100vh;
        //
        //        img {
        //            display: block;
        //            margin: 0 auto;
        //            //height: 100%;
        //            //width: auto;
        //            //max-width: $screen;
        //        }
        //    }
        //
        //    .article__media + .container {
        //        margin-top: auto;
        //        position: relative;
        //        z-index: 1;
        //    }
        //
        //    .article__chapter {
        //        padding-top: $akk-unit * 3;
        //        padding-bottom: $akk-unit;
        //        background-size: cover;
        //        background-position: center top;
        //        background-image: url(/images/brand/blog-overview-form.svg);
        //    }
        //}
    }
}

.site__overview__cover,
.site__overview__cover__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    &.img-cover-ct {
        object-position: center top !important;
    }

    &.img-cover-cb {
        object-position: center bottom !important;
    }
}
