.site__prevnext {
    padding: $akk-unit 0;
    background-color: $white;
    background-image: url(/images/separate.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: $akk-unit * 4;
}
