.border-none {border-style: none;}
.border-solid {border-style: solid;}
.border-dashed {border-style: dashed;}
.border-dotted {border-style: dotted;}

.border	    {border-width: 1px!important;}
.border-0	{border-width: 0!important;}
.border-2	{border-width: 2px!important;}
.border-4	{border-width: 4px!important;}
.border-8	{border-width: 8px!important;}
.border-t	{border-top-width: 1px!important;}
.border-r	{border-right-width: 1px!important;}
.border-b	{border-bottom-width: 1px!important;}
.border-l	{border-left-width: 1px!important;}
.border-t-0	{border-top-width: 0!important;}
.border-r-0	{border-right-width: 0!important;}
.border-b-0	{border-bottom-width: 0!important;}
.border-l-0	{border-left-width: 0!important;}
.border-t-2	{border-top-width: 2px!important;}
.border-r-2	{border-right-width: 2px!important;}
.border-b-2	{border-bottom-width: 2px!important;}
.border-l-2	{border-left-width: 2px!important;}
.border-t-4	{border-top-width: 4px!important;}
.border-r-4	{border-right-width: 4px!important;}
.border-b-4	{border-bottom-width: 4px!important;}
.border-l-4	{border-left-width: 4px!important;}
.border-t-8	{border-top-width: 8px!important;}
.border-r-8	{border-right-width: 8px!important;}
.border-b-8	{border-bottom-width: 8px!important;}
.border-l-8	{border-left-width: 8px!important;}

.rounded-none { border-radius: 0; }
.rounded-sm { border-radius: $border-radius-sm; }
.rounded { border-radius: $border-radius; }
.rounded-md { border-radius: $border-radius; }
.rounded-lg { border-radius: $border-radius-lg; }
.rounded-full { border-radius: 9999px; }

.rounded-t-none {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rounded-b-none {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded-t-sm {
  border-top-left-radius: $border-radius-sm;
  border-top-right-radius: $border-radius-sm;
}
.rounded-r-sm {
  border-top-right-radius: $border-radius-sm;
  border-bottom-right-radius: $border-radius-sm;
}
.rounded-b-sm {
  border-bottom-right-radius: $border-radius-sm;
  border-bottom-left-radius: $border-radius-sm;
}
.rounded-l-sm {
  border-top-left-radius: $border-radius-sm;
  border-bottom-left-radius: $border-radius-sm;
}

.rounded-t {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.rounded-r {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
.rounded-b {
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.rounded-l {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.rounded-t-lg {
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;
}
.rounded-r-lg {
  border-top-right-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;
}
.rounded-b-lg {
  border-bottom-right-radius: $border-radius-lg;
  border-bottom-left-radius: $border-radius-lg;
}
.rounded-l-lg {
  border-top-left-radius: $border-radius-lg;
  border-bottom-left-radius: $border-radius-lg;
}
